<md-content class="content" flex layout="row" layout-align="center start">
    <md-whiteframe class="md-whiteframe-3dp no-max-height" flex="40">
        <h2>Account settings</h2>
        <form name="accountForm" role="form" ng-submit="update()" flex layout="column" layout-align="start stertch">
            <md-input-container>
                <label>Name</label>
                <input ng-model="user.name" type="text" name="name" ng-disabled="isLoading" />
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input ng-model="user.password1" type="password" name="name" ng-disabled="isLoading" />
            </md-input-container>
            <md-input-container>
                <label>Repeat password</label>
                <input ng-model="user.password2" type="password" name="name" ng-disabled="isLoading" />
            </md-input-container>
            <md-button class="md-flex md-primary md-raised full-width" ng-disabled="isLoading" type="submit">Update</md-button>
        </form>
    </md-whiteframe>
</md-content>