<md-dialog flex="30">
    <form ng-cloak autocomplete="off">
        <md-toolbar class="md-primary md-hue-2" md-theme="login">
            <div class="md-toolbar-tools">
                <h2>Log In</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    <md-icon><i class="material-icons">close</i></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="column" layout-align="start stretch">
                <md-input-container class="md-block">
                    <label>Email</label>
                    <input ng-model="user.email" type="text">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input ng-model="user.password" type="password" autocomplete="new-password">
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button flex class="md-primary md-raised md-hue-2">
                Log In
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>