.red-chip
{
    background-color: rgb(255,87,34);
}

.green-chip
{
    background-color: rgb(76,175,80);
}

md-input-container.hide-error-message {
    margin-bottom:0;
}

md-input-container.hide-error-message .md-errors-spacer {
    min-height: 0;
}

md-list-item
{
    padding-left:16px;
    padding-right:16px;
}

md-list-item .md-button:last-of-type
{
    margin-right: 0;
}

.button-list .md-button
{
    margin:0;
}

.repeater-container
{
    overflow:scroll;
}

.layout-row > md-card.unlimited-height
{
    max-height:none;
    position:relative;
}

md-card md-progress-circular
{
    position:absolute;
    margin-top:calc(50% - 50px);
    left:calc(50% - 50px);
    z-index: 1;
}

md-card img.md-card-image
{
    z-index: 2;
}

md-dialog md-dialog-actions .md-button.md-flex
{
    margin-right: 8px;
}

.md-button.md-fab.md-toolbar-avatar
{
    padding: 0;
}

.md-button.md-fab.md-toolbar-avatar img
{
    width:100%;
    height:100%
}

md-menu-content.md-avatar
{
    padding-top:0;
}

md-menu-content.md-avatar:first-child > md-menu-item > div
{
    padding:0;
}

md-menu-content.md-avatar .md-button.md-fab.md-toolbar-avatar
{
    margin:4px;
}

div.md-menu-title
{
    padding-top:7px;
    padding-left:20px;
}

div.md-menu-title .md-subhead
{
    font-size:14px;
    color: rgba(0,0,0,0.54);
    line-height:16px;
}